@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    /* primary colors */
    --reaction: hsl(0, 100%, 67%);
    --memory: hsl(39, 100%, 56%);
    --verbal: hsl(166, 100%, 37%);
    --visual: hsl(234, 85%, 45%);

    /* gradients */
    --slate_blue_background: hsl(252, 100%, 67%);
    --royal_blue_background: hsl(241, 81%, 54%);
    --violet_blue_circle: hsla(256, 72%, 46%, 1);
    --persian_blue_circle: hsla(241, 72%, 46%, 0);

    /* neutral */
    --white: hsl(0, 0%, 100%);
    --pale_blue: hsl(221, 100%, 96%);
    --light_lavender: hsl(241, 100%, 89%);
    --dark_gray_blue: hsl(224, 30%, 27%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: var(--white);
}

main {
    width: 500px;
    height: 360px;
    border-radius: 20px;
    display: flex;
    box-shadow: 10px 15px 20px hsla(224, 30%, 27%, 25%);
}

div#Result {
    width: 250px;
    height: auto;
    padding: 20px 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient(to top, var(--royal_blue_background), var(--slate_blue_background));
}

#Result span {
    font-size: 1.2em;
    color: var(--light_lavender);
}

#score {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(360deg, var(--persian_blue_circle), var(--violet_blue_circle));
}

#score h2 {
    font-size: 3.5em;
    font-weight: 800;
    line-height: .9em;
    color: var(--white);
}

#score p {
    font-size: .8em;
    color: var(--light_lavender);
}

#information h3 {
    font-size: 1.5em;
    color: var(--white);
    padding-bottom: 10px;
}

#information p {
    font-size: .8em;
    font-weight: 500;
    padding: 0 25px;
    color: var(--light_lavender);
}

div#Summary {
    width: 250px;
    height: auto;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
}

#Summary>span {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 16px;
}

ul {
    list-style: none;
}

li p{
    display: inline;
}

li {
    width: auto;
    height: 45px;
    border-radius: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

li:last-child {
    margin-bottom: 26px;
}

li img { 
    padding: 0 8px;

}

li > span {
    width: 70px;
    font-size: .8em;
}

li > p { 
    width: 70px;
    font-size: .8em;
    font-weight: 800;
    margin: 0 10px 0 42px;
    text-align: right;
    color: var(--dark_gray_blue);
}

li p span {
    font-weight: 500;
    color: var(--light_lavender);
}

#reaction {
    color: var(--reaction);
    background: hsla(0, 100%, 67%, 5%);
}

#memory {
    color: var(--memory);
    background: hsla(39, 100%, 56%, 5%);
}

#verbal {
    color: var(--verbal);
    background: hsla(166, 100%, 37%, 5%);
}

#visual {
    color: var(--visual);
    background: hsla(234, 85%, 45%, 5%);
}

input {
    width: auto;
    height: 40px;
    border-radius: 100px;
    border: none;
    font-weight: 700;
    color: var(--white);
    background: linear-gradient(to top, var(--royal_blue_background), var(--slate_blue_background));
}

input:hover{
    cursor: pointer;
    background: var(--dark_gray_blue);
}

/* Responsividade Celular */
/* telas: 414 px */
@media (min-width: 375px) and (max-width: 414px) {
    main {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        border-radius: 0;
    }

    /*Configurando Cards*/
    /* Card Result */
    div#Result {
        width: 100vw;
        height: auto;
        border-radius: 0 0 20px 20px;
    }

    /* Título: your result*/
    #Result span {
        margin-top: 5px;
    }

    #score h2 {
        font-size: 3.6em;
    }
    
    #score p {
        font-size: .9em;
    }

    #information h3 {
        font-size: 1.8em;
    }
    
    #information p {
        font-size: .9em;
        padding: 0 50px 10px;
    }

    /* Card Summary */
    div#Summary {
        width: 100vw;
        height: auto;
    }

    li {
        width: auto;
        height: 50px;
        margin-bottom: 10px;
    }

    li p{
        margin-left: auto;
        font-size: 1em;
    }

    li > span {
        font-size: 1em;
    }

    li img {
        width: 40px;
    }

    input {
        height: 55px;
        border-radius: 100px;
        border: none;
        font-size: 1em;
        font-weight: 500;
    }
}
/*finalizado*/